html {
    min-height: 100%;
    position: relative;
  }

.footerp {
    position: absolute;
    /* height: 100px; */
    margin-top: 100px;
    bottom: -110px;
    width: 100%;
    background-color: rgb(5, 134, 246);
    color: rgb(255, 255, 255);
    font-weight: bold;
}