<app-header></app-header>
<div class="container">
    <form [formGroup]="newForm" (ngSubmit)="postForm(newForm.value)">
        <button type="button" class="btn btn-dark" (click)="close()">Salir</button>
        <br><br>
        <div class="form-group">
            <label for="exampleFormControlImput1">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre del Paciente" formControlName="nombre">
        </div>
        <div class="form-group">
            <label for="exampleFormControlImput1">Direccion</label>
            <input type="text" class="form-control" placeholder="Nombre del Paciente" formControlName="direccion">
        </div>
        <div class="form-group">
            <label for="exampleFormControlImput1">DNI</label>
            <input type="text" class="form-control" placeholder="Nombre del Paciente" formControlName="dni">
        </div>
        <div class="form-group">
            <label for="exampleFormControlImput1">Codigo Postal</label>
            <input type="text" class="form-control" placeholder="Nombre del Paciente" formControlName="codigoPostal">
        </div>
        <div class="form-group">
            <label for="exampleFormControlImput1">Telefono</label>
            <input type="text" class="form-control" placeholder="Nombre del Paciente" formControlName="telefono">
        </div>
        <div class="form-group">
            <label for="exampleFormControlImput1">Fecha de Nacimiento</label>
            <input type="text" class="form-control" placeholder="Nombre del Paciente" formControlName="fechaNacimiento">
        </div>
        <div class="form-group">
            <label for="exampleFormControlImput1">Correo</label>
            <input type="text" class="form-control" placeholder="Nombre del Paciente" formControlName="correo">
        </div> 
        <div class="form-group">
            <label for="exampleFormControlImput1">Genero</label>
            <input type="text" class="form-control" placeholder="Nombre del Paciente" formControlName="genero">
        </div>

  
        <button type="submit" class="btn btn-primary">Guardar</button>
        <!-- <button type="button" class="btn btn-danger" (click)="delete()">Eliminar</button> -->
        <br>
    </form>
    <br>
</div>
<app-footer></app-footer>